<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation" ></nav>

<!--Form to calculate tips.
Split between those that collect tips and those that are added to the pool
For those that collect tips adding a non-null value will include them in the tip pool
For those that not collect dips, selecting their names will enter a default value of zero as their dips
collected therefore adding them to the tip pool.

I itemStat.index to iterate through an empty hashmap from the TipsCollected class. Because I
divide the two kinds of employees, I add the list size from the part to the iterator in the second part,
this is not as clean of a solution as I would like it to be.
If Employees are included in the tip pool they have a none null Tips attached to them

The form sends TipsCollected object to /calculate/report for further processing
-->
<form method="POST" action="/calculate/report"
          th:if="${moneyHandlers.size()>0}"
          th:object="${collectTips}">
        <div>
            <label>
                <h3>Enter Tips</h3>
                <div th:each="moneyHandler, itemStat:${moneyHandlers}">
                    <label th:text="${moneyHandler.firstName+' '+moneyHandler.lastName}"></label>
                    <input type="number"
                           th:field="*{moneyHandlerTipsMap[__${itemStat.index+1}__].tips}"
                           class="form-control">
                </div>
            </label>

        </div>
        <br>
        <div th:if="${notMoneyHandlers.size()>0}">
            <label>
                <h3 >Add other employees to the Tippool</h3>
                <div th:each="notMoneyHandler, itemStat: ${notMoneyHandlers}"
                     th:field="*{notMoneyHandlerTipsMap[__${itemStat.index}__].tips}">
                    <input type="checkbox"
                           value="0"
                           th:field="*{notMoneyHandlerTipsMap[__${itemStat.index}__].tips}"
                    />
                    <label th:text="${notMoneyHandler.firstName+' '+notMoneyHandler.lastName}"></label>
                    <br>
                </div>
            </label>
        </div>
        <div>
            <input type="submit" value="Calculate Tips" class="btn btn-success">
        </div>
    </form>
    <!--Won't be able to see form if no employees have been added-->
    <h2 th:if="${moneyHandlers.size()<1}">Add Employees That Collect Tips to Get Started</h2>
</body>
</html>


