<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>


<div>
    <h3 th:text="'Are you sure you want to permanently delete '+${employeeToDelete}+' from your system?'"></h3>
</div>
    <form method="post" th:action="@{/employees/delete/{employeeToDeleteId}(employeeToDeleteId=${employeeToDeletedId})}">
        <div class="form-group">
            <input type="hidden" th:value="${true}" name="confirmation">
            <input type="submit" th:value="'Delete '+${employeeToDelete}" class="btn btn-danger">
        </div>
    </form>

</body>
</html>
