<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${employeeRates}">
    <div class="form-group" th:each="type : ${employeeTypes}" >
        <label th:text="${type}"></label>
        <input type="number"
               th:field="*{__${type}__Rate}"
               class="form-control"/>
<!--        <p class="error" th:errors="${position.percentOfTipOut}"></p>-->
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Update Tipout Distribution" class="btn btn-warning">
    </div>
</form>
<br>

</body>
</html>
