<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<form method="post" >
    <div class="form-group" th:each="position : ${employer.employees}">
        <label th:text="${position.getClass().getSimpleName()}"></label>
<!--        <p class="error" th:errors="${employeeToEdit.firstName}"></p>-->
        <input type="number"
               th:value="${position.percentOfTipOut}"
               class="form-control"/>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Update Tipout Distribution" class="btn btn-warning">
    </div>
</form>

</body>
</html>
